Repository toradex/torizon-samples: changes, and which GitLab CI jobs are due for each by the changed paths.
All: adc-jobs, dbus-tools-jobs, dbus-python-jobs, gpio-bash-jobs, gpio-c-jobs, dlr-gstreamer-jobs, uart-gps-python-jobs, collectd-jobs, gstreamer-simple-pipeline-jobs, opencl-jobs, opencv-jobs, pwm-jobs, qt5-python-qml-jobs, uart-sht31-flask-app-jobs, uart-sht31-influxdb-jobs, uart-sht31-kiosk-jobs, tflite-jobs, weather-jobs

.gitlab-ci.yml:

# This file calls one sub-pipeline for each sample
# Each sample has one .gitlab-ci.yml on its own sub-directory
#   those samples are included from here
# Shared scripts are in .gitlab-ci-scripts.yml and included in each sample

# Only run branch pipelines
include:
  - template: 'Workflows/Branch-Pipelines.gitlab-ci.yml'

stages:
  - adc
  - dbus-tools
  - dbus-python
  - gpio-bash
  - gpio-c
  - dlr-gstreamer
  - uart-gps-python
  - collectd
  - gstreamer-simple-pipeline
  - opencl
  - opencv
  - pwm
  - qt5-python-qml
  - uart-sht31-flask-app
  - uart-sht31-influxdb
  - uart-sht31-kiosk
  - tflite
  - weather

adc-jobs:
  stage: adc
  trigger:
    include: adc/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
      - adc/*

dbus-tools-jobs:
  stage: dbus-tools
  trigger:
    include: dbus/tools/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
      - dbus/tools/*

dbus-python-jobs:
  stage: dbus-python
  trigger:
    include: dbus/python/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
      - dbus/python/*

gpio-bash-jobs:
  stage: gpio-bash
  trigger:
    include: gpio/bash/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
      - gpio/bash/*

gpio-c-jobs:
  stage: gpio-c
  trigger:
    include: gpio/c/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
      - gpio/c/*

dlr-gstreamer-jobs:
  stage: dlr-gstreamer
  trigger:
    include: dlr-gstreamer/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
      - dlr-gstreamer/*

uart-gps-python-jobs:
  stage: uart-gps-python
  trigger:
    include: gps/python/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
      - gps/python/*

collectd-jobs:
  stage: collectd
  trigger:
    include: grafana/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
      - grafana/*

gstreamer-simple-pipeline-jobs:
  stage: gstreamer-simple-pipeline
  trigger:
    include: gstreamer/bash/simple-pipeline/.gitlab-ci.yml
  rules:
    - changes:
      - gstreamer/bash/simple-pipeline/*

opencl-jobs:
  stage: opencl
  trigger:
    include: opencl/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
      - opencl/*

opencv-jobs:
  stage: opencv
  trigger:
    include: opencv/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
      - opencv/*

pwm-jobs:
  stage: pwm
  trigger:
    include: pwm/.gitlab-ci.yml
  rules:
    - changes:
      - pwm/*

qt5-python-qml-jobs:
  stage: qt5-python-qml
  trigger:
    include: python-qml/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
      - python-qml/*

uart-sht31-flask-app-jobs:
  stage: uart-sht31-flask-app
  trigger:
    include: sht31/flaskapp/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
      - sht31/flaskapp/*

uart-sht31-influxdb-jobs:
  stage: uart-sht31-influxdb
  trigger:
    include: sht31/sht31-influxdb/.gitlab-ci.yml
  rules:
    - changes:
      - sht31/sht31-influxdb/*

uart-sht31-kiosk-jobs:
  stage: uart-sht31-kiosk
  trigger:
    include: sht31/kiosk/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
      - sht31/kiosk/*

tflite-jobs:
  stage: tflite
  trigger:
    include: tflite/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
      - tflite/*

weather-jobs:
  stage: weather
  trigger:
    include: weather/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
      - weather/*

dlr-gstreamer: update to Bookworm
  dlr-gstreamer/.gitlab-ci.yml
  dlr-gstreamer/Dockerfile
Due: dlr-gstreamer-jobs

gps: update to Bookworm
  gps/python/.gitlab-ci.yml
  gps/python/Dockerfile
Due: uart-gps-python-jobs

opencl: update to Bookworm
  opencl/.gitlab-ci.yml
  opencl/Dockerfile
Due: opencl-jobs

pwm: update to Bookworm
  pwm/.gitlab-ci.yml
  pwm/Dockerfile
Due: pwm-jobs

sht31: kiosk: update to Bookworm
  sht31/kiosk/.gitlab-ci.yml
  sht31/kiosk/Dockerfile
Due: uart-sht31-kiosk-jobs

sht31: flaskapp: update to Bookworm
  sht31/flaskapp/.gitlab-ci.yml
  sht31/flaskapp/Dockerfile
Due: uart-sht31-flask-app-jobs

sht31: sht31-influxdb: update to bookworm
  sht31/sht31-influxdb/.gitlab-ci.yml
  sht31/sht31-influxdb/Dockerfile
Due: uart-sht31-influxdb-jobs

weather: update to Bookworm
  weather/.gitlab-ci.yml
  weather/0001-Remove-WError.patch
  weather/Dockerfile
Due: weather-jobs

dbus: python: update to Bookworm
  dbus/python/.gitlab-ci.yml
  dbus/python/Dockerfile
Due: dbus-python-jobs

dbus: tools: update to Bookworm
  dbus/tools/.gitlab-ci.yml
  dbus/tools/Dockerfile
Due: dbus-tools-jobs

gpio: bash, c: update to Bookworm
  gpio/bash/.gitlab-ci.yml
  gpio/bash/Dockerfile
  gpio/c/.gitlab-ci.yml
  gpio/c/Dockerfile
Due: gpio-bash-jobs, gpio-c-jobs

granafa: update to Bookworm
  grafana/.gitlab-ci.yml
  grafana/Dockerfile
Due: collectd-jobs

opencv: update to Bookworm
  opencv/.gitlab-ci.yml
  opencv/Dockerfile
Due: opencv-jobs

python-qml: update to Bookworm
  python-qml/.gitlab-ci.yml
  python-qml/Dockerfile
Due: qt5-python-qml-jobs

tflite: tflite-basic: update to Bookworm
  tflite/tflite-basic/.gitlab-ci.yml
  tflite/tflite-basic/Dockerfile
Due: none

tflite-rtsp: update to Bookworm
  tflite/tflite-rtsp/.gitlab-ci.yml
  tflite/tflite-rtsp/Dockerfile
  tflite/tflite-rtsp/recipes/build_variables.sh
  tflite/tflite-rtsp/recipes/global_variables.sh
  tflite/tflite-rtsp/recipes/nn-imx_1.3.0.sh
  tflite/tflite-rtsp/recipes/tensorflow-lite_2.9.1.sh
  tflite/tflite-rtsp/recipes/tflite-vx-delegate.sh
  tflite/tflite-rtsp/recipes/tim-vx.sh
Due: none

gstreamer: bash: simple-pipeline: update to Bookworm
  gstreamer/bash/simple-pipeline/.gitlab-ci.yml
  gstreamer/bash/simple-pipeline/Dockerfile
Due: gstreamer-simple-pipeline-jobs

nodejs: update to Bookworm
  nodejs/.gitlab-ci.yml
  nodejs/Dockerfile
Due: none

gitlab-ci-scripts: bump majors
  .gitlab-ci-scripts.yml
Due: none

nodejs: fix build job names
  nodejs/.gitlab-ci.yml
Due: none

ci: attempt to get sources more than once
  .gitlab-ci.yml
Due: none

ci: add a timeout to docker push
  .gitlab-ci-scripts.yml
Due: none

ci: run all samples jobs in parallel
  .gitlab-ci.yml
Due: none

ci: attempt to re-run failed jobs
  .gitlab-ci.yml
  adc/.gitlab-ci.yml
  crank/.gitlab-ci.yml
  dbus/python/.gitlab-ci.yml
  dbus/tools/.gitlab-ci.yml
  debian-container/.gitlab-ci.yml
  dlr-gstreamer/.gitlab-ci.yml
  gpio/bash/.gitlab-ci.yml
  gpio/c/.gitlab-ci.yml
  gps/python/.gitlab-ci.yml
  grafana/.gitlab-ci.yml
  gstreamer/bash/simple-pipeline/.gitlab-ci.yml
  nodejs/.gitlab-ci.yml
  opencl/.gitlab-ci.yml
  opencv/.gitlab-ci.yml
  pwm/.gitlab-ci.yml
  python-qml/.gitlab-ci.yml
  sht31/flaskapp/.gitlab-ci.yml
  sht31/kiosk/.gitlab-ci.yml
  sht31/sht31-influxdb/.gitlab-ci.yml
  tflite/tflite-basic/.gitlab-ci.yml
  tflite/tflite-rtsp/.gitlab-ci.yml
  weather/.gitlab-ci.yml
Due: adc-jobs, dbus-tools-jobs, dbus-python-jobs, gpio-bash-jobs, gpio-c-jobs, dlr-gstreamer-jobs, uart-gps-python-jobs, collectd-jobs, gstreamer-simple-pipeline-jobs, opencl-jobs, opencv-jobs, pwm-jobs, qt5-python-qml-jobs, uart-sht31-flask-app-jobs, uart-sht31-influxdb-jobs, uart-sht31-kiosk-jobs, weather-jobs

ci: add a retry to docker build
  .gitlab-ci-scripts.yml
Due: none

gpio:c add comments and change variable names
  gpio/c/README.md
  gpio/c/gpio-event.c
  gpio/c/gpio-toggle.c
Due: gpio-c-jobs

gpio: c: fix gpio-toggle.c missing closing parenthesis on main()
  gpio/c/gpio-toggle.c
Due: gpio-c-jobs

ci: handle build failures correctly in .docker-build job
  .gitlab-ci-scripts.yml
Due: none

Revert "ci: add a timeout to docker push"
  .gitlab-ci-scripts.yml
Due: none

ci: drop portainer job defined in .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

ci: drop crank job defined in .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

ci: remove crank and portainer ci scripts together with gitlab-ci-tcb
  .gitlab-ci-tcb.yml
  crank/.gitlab-ci.yml
  debian-container/.gitlab-ci.yml
Due: none

ci: enable use of torizon-containers' registry
  .gitlab-ci-scripts.yml
  .gitlab-ci.yml
Due: none

Initial README.md commit
  README.md
Due: none

gpio: Python: Initial python3Console base template commit
  gpio/python/gpioPython/.conf/.container
  gpio/python/gpioPython/.conf/.template
  gpio/python/gpioPython/.conf/checkCIEnv.ps1
  gpio/python/gpioPython/.conf/checkDeps.ps1
  gpio/python/gpioPython/.conf/createDockerComposeProduction.ps1
  gpio/python/gpioPython/.conf/deps.json
  gpio/python/gpioPython/.conf/id_rsa
  gpio/python/gpioPython/.conf/id_rsa.pub
  gpio/python/gpioPython/.conf/projectUpdater.ps1
  gpio/python/gpioPython/.conf/runContainerIfNotExists.ps1
  gpio/python/gpioPython/.conf/shareWSLPorts.ps1
  gpio/python/gpioPython/.conf/tcb-env-setup.sh
  gpio/python/gpioPython/.conf/torizonIO.ps1
  gpio/python/gpioPython/.conf/torizonPackages.ps1
  gpio/python/gpioPython/.conf/update.json
  gpio/python/gpioPython/.dockerignore
  gpio/python/gpioPython/.github/workflows/build-application.yaml
  gpio/python/gpioPython/.gitignore
  gpio/python/gpioPython/.gitlab-ci.yml
  gpio/python/gpioPython/.vscode/extensions.json
  gpio/python/gpioPython/.vscode/launch.json
  gpio/python/gpioPython/.vscode/settings.json
  gpio/python/gpioPython/.vscode/tasks.json
  gpio/python/gpioPython/.vscode/tasks.ps1
  gpio/python/gpioPython/Dockerfile
  gpio/python/gpioPython/Dockerfile.debug
  gpio/python/gpioPython/docker-compose.yml
  gpio/python/gpioPython/requirements-debug.txt
  gpio/python/gpioPython/requirements-release.txt
  gpio/python/gpioPython/src/main.py
  gpio/python/gpioPython/torizonPackages.json
Due: none

gpio: C: Initial cppConsole base template commit
  gpio/C/gpioC/.conf/.container
  gpio/C/gpioC/.conf/.template
  gpio/C/gpioC/.conf/checkCIEnv.ps1
  gpio/C/gpioC/.conf/checkDeps.ps1
  gpio/C/gpioC/.conf/createDockerComposeProduction.ps1
  gpio/C/gpioC/.conf/deps.json
  gpio/C/gpioC/.conf/id_rsa
  gpio/C/gpioC/.conf/id_rsa.pub
  gpio/C/gpioC/.conf/projectUpdater.ps1
  gpio/C/gpioC/.conf/runContainerIfNotExists.ps1
  gpio/C/gpioC/.conf/shareWSLPorts.ps1
  gpio/C/gpioC/.conf/tcb-env-setup.sh
  gpio/C/gpioC/.conf/torizonIO.ps1
  gpio/C/gpioC/.conf/torizonPackages.ps1
  gpio/C/gpioC/.conf/update.json
  gpio/C/gpioC/.dockerignore
  gpio/C/gpioC/.github/workflows/build-application.yaml
  gpio/C/gpioC/.gitignore
  gpio/C/gpioC/.gitlab-ci.yml
  gpio/C/gpioC/.vscode/c_cpp_properties.json
  gpio/C/gpioC/.vscode/extensions.json
  gpio/C/gpioC/.vscode/launch.json
  gpio/C/gpioC/.vscode/settings.json
  gpio/C/gpioC/.vscode/tasks.json
  gpio/C/gpioC/.vscode/tasks.ps1
  gpio/C/gpioC/Dockerfile
  gpio/C/gpioC/Dockerfile.debug
  gpio/C/gpioC/Dockerfile.sdk
  gpio/C/gpioC/Makefile
  gpio/C/gpioC/docker-compose.yml
  gpio/C/gpioC/includes/.ok
  gpio/C/gpioC/src/main.cpp
  gpio/C/gpioC/torizonPackages.json
Due: none

gpio: Python: Add GPIO example
  gpio/python/gpioPython/docker-compose.yml
  gpio/python/gpioPython/src/main.py
  gpio/python/gpioPython/torizonPackages.json
Due: none

gpio: dotnet: Initial dotnetConsole base template commit
  gpio/dotnet/gpioDotnet/.conf/.container
  gpio/dotnet/gpioDotnet/.conf/.template
  gpio/dotnet/gpioDotnet/.conf/checkCIEnv.ps1
  gpio/dotnet/gpioDotnet/.conf/checkDeps.ps1
  gpio/dotnet/gpioDotnet/.conf/createDockerComposeProduction.ps1
  gpio/dotnet/gpioDotnet/.conf/deps.json
  gpio/dotnet/gpioDotnet/.conf/id_rsa
  gpio/dotnet/gpioDotnet/.conf/id_rsa.pub
  gpio/dotnet/gpioDotnet/.conf/projectUpdater.ps1
  gpio/dotnet/gpioDotnet/.conf/runContainerIfNotExists.ps1
  gpio/dotnet/gpioDotnet/.conf/shareWSLPorts.ps1
  gpio/dotnet/gpioDotnet/.conf/tcb-env-setup.sh
  gpio/dotnet/gpioDotnet/.conf/torizonIO.ps1
  gpio/dotnet/gpioDotnet/.conf/torizonPackages.ps1
  gpio/dotnet/gpioDotnet/.conf/update.json
  gpio/dotnet/gpioDotnet/.dockerignore
  gpio/dotnet/gpioDotnet/.github/workflows/build-application.yaml
  gpio/dotnet/gpioDotnet/.gitignore
  gpio/dotnet/gpioDotnet/.gitlab-ci.yml
  gpio/dotnet/gpioDotnet/.vscode/extensions.json
  gpio/dotnet/gpioDotnet/.vscode/launch.json
  gpio/dotnet/gpioDotnet/.vscode/settings.json
  gpio/dotnet/gpioDotnet/.vscode/tasks.json
  gpio/dotnet/gpioDotnet/.vscode/tasks.ps1
  gpio/dotnet/gpioDotnet/Dockerfile
  gpio/dotnet/gpioDotnet/Dockerfile.debug
  gpio/dotnet/gpioDotnet/Program.cs
  gpio/dotnet/gpioDotnet/README.md
  gpio/dotnet/gpioDotnet/docker-compose.yml
  gpio/dotnet/gpioDotnet/gpioDotnet.csproj
  gpio/dotnet/gpioDotnet/torizonPackages.json
Due: none

gpio: dotnet: Add GPIO example
  gpio/dotnet/gpioDotnet/Program.cs
  gpio/dotnet/gpioDotnet/docker-compose.yml
  gpio/dotnet/gpioDotnet/gpioDotnet.csproj
  gpio/dotnet/gpioDotnet/torizonPackages.json
Due: none

gpio: C: Add GPIO example
  gpio/C/gpioC/Makefile
  gpio/C/gpioC/docker-compose.yml
  gpio/C/gpioC/src/main.c
  gpio/C/gpioC/src/main.cpp
  gpio/C/gpioC/torizonPackages.json
Due: none
