Repository toradex/torizon-samples: changes, and which GitLab CI jobs are due for each by the changed paths.
All: adc-jobs, dbus-tools-jobs, dbus-python-jobs, gpio-bash-jobs, gpio-c-jobs, dlr-gstreamer-jobs, uart-gps-python-jobs, collectd-jobs, gstreamer-simple-pipeline-jobs, opencl-jobs, opencv-jobs, pwm-jobs, qt5-python-qml-jobs, uart-sht31-flask-app-jobs, uart-sht31-influxdb-jobs, uart-sht31-kiosk-jobs, tflite-jobs, weather-jobs

adc-jobs:
  stage: adc
  trigger:
    include: adc/.gitlab-ci.yml
    strategy: depend

dbus-tools-jobs:
  stage: dbus-tools
  trigger:
    include: dbus/tools/.gitlab-ci.yml
    strategy: depend

dbus-python-jobs:
  stage: dbus-python
  trigger:
    include: dbus/python/.gitlab-ci.yml
    strategy: depend

gpio-bash-jobs:
  stage: gpio-bash
  trigger:
    include: gpio/bash/.gitlab-ci.yml
    strategy: depend

gpio-c-jobs:
  stage: gpio-c
  trigger:
    include: gpio/c/.gitlab-ci.yml
    strategy: depend

dlr-gstreamer-jobs:
  stage: dlr-gstreamer
  trigger:
    include: dlr-gstreamer/.gitlab-ci.yml
    strategy: depend

uart-gps-python-jobs:
  stage: uart-gps-python
  trigger:
    include: gps/python/.gitlab-ci.yml
    strategy: depend

collectd-jobs:
  stage: collectd
  trigger:
    include: grafana/.gitlab-ci.yml
    strategy: depend

gstreamer-simple-pipeline-jobs:
  stage: gstreamer-simple-pipeline
  trigger:
    include: gstreamer/bash/simple-pipeline/.gitlab-ci.yml

opencl-jobs:
  stage: opencl
  trigger:
    include: opencl/.gitlab-ci.yml
    strategy: depend

opencv-jobs:
  stage: opencv
  trigger:
    include: opencv/.gitlab-ci.yml
    strategy: depend

pwm-jobs:
  stage: pwm
  trigger:
    include: pwm/.gitlab-ci.yml

qt5-python-qml-jobs:
  stage: qt5-python-qml
  trigger:
    include: python-qml/.gitlab-ci.yml
    strategy: depend

uart-sht31-flask-app-jobs:
  stage: uart-sht31-flask-app
  trigger:
    include: sht31/flaskapp/.gitlab-ci.yml
    strategy: depend

uart-sht31-influxdb-jobs:
  stage: uart-sht31-influxdb
  trigger:
    include: sht31/sht31-influxdb/.gitlab-ci.yml

uart-sht31-kiosk-jobs:
  stage: uart-sht31-kiosk
  trigger:
    include: sht31/kiosk/.gitlab-ci.yml
    strategy: depend

tflite-jobs:
  stage: tflite
  trigger:
    include: tflite/.gitlab-ci.yml
    strategy: depend

weather-jobs:
  stage: weather
  trigger:
    include: weather/.gitlab-ci.yml
    strategy: depend

ci: remove "needs" property
  adc/.gitlab-ci.yml
  dbus/python/.gitlab-ci.yml
  dbus/tools/.gitlab-ci.yml
  gpio/bash/.gitlab-ci.yml
  gpio/c/.gitlab-ci.yml
  gps/python/.gitlab-ci.yml
  grafana/.gitlab-ci.yml
  gstreamer/bash/simple-pipeline/.gitlab-ci.yml
  pwm/.gitlab-ci.yml
  python-qml/.gitlab-ci.yml
  sht31/flaskapp/.gitlab-ci.yml
  sht31/kiosk/.gitlab-ci.yml
  sht31/sht31-influxdb/.gitlab-ci.yml
  tflite/.gitlab-ci.yml
  weather/.gitlab-ci.yml
Due: adc-jobs, dbus-tools-jobs, dbus-python-jobs, gpio-bash-jobs, gpio-c-jobs, uart-gps-python-jobs, collectd-jobs, gstreamer-simple-pipeline-jobs, pwm-jobs, qt5-python-qml-jobs, uart-sht31-flask-app-jobs, uart-sht31-influxdb-jobs, uart-sht31-kiosk-jobs, tflite-jobs, weather-jobs

add sample showing how to use libgpio in python
  gpio/python/.gitignore
  gpio/python/.rsync-exclude-list
  gpio/python/.vscode/extensions.json
  gpio/python/.vscode/launch.json
  gpio/python/.vscode/settings.json
  gpio/python/.vscode/torizon-vscode-settings.yaml
  gpio/python/README.md
  gpio/python/appconfig_0/config.yaml
  gpio/python/appconfig_1/config.yaml
  gpio/python/cleanup.sh
  gpio/python/main.py
  gpio/python/requirements.txt
  gpio/python/setup.sh
Due: none

opencv: use TorizonCore container tags
  opencv/docker-compose.yaml
Due: opencv-jobs

tflite: use TorizonCore container tag CT_TAG_DEBIAN
  tflite/docker-compose.yaml
Due: tflite-jobs

multi-display: add sample skeleton
  multi-display/README.md
  multi-display/dual-drm-interface/docker-compose.arm64.yml
  multi-display/dual-drm-interface/docker-compose.armhf.yml
  multi-display/single-drm-interface/docker-compose.arm64.yml
  multi-display/single-drm-interface/docker-compose.armhf.yml
Due: none

multi-display: add samples
  README.md
  multi-display/README.md
  multi-display/dual-drm-interface/docker-compose.arm64.yml
  multi-display/dual-drm-interface/docker-compose.armhf.yml
  multi-display/single-drm-interface/docker-compose.arm64.yml
  multi-display/single-drm-interface/docker-compose.armhf.yml
  multi-display/single-drm-interface/weston.ini
Due: none

crank: add compose files for Crank 7.1
  README.md
  crank/README.md
  crank/docker-compose.arm64.yml
  crank/docker-compose.armhf.yml
Due: none

crank: update tag to latest 7.1 release
  crank/docker-compose.arm64.yml
  crank/docker-compose.armhf.yml
Due: none

debian-container: update sample to latest
  debian-container/demonstration/docker-compose.arm64.yml
  debian-container/demonstration/docker-compose.armhf-nogpu.yml
Due: none

ci: push Compose samples to Platform Services
  .gitignore
  .gitlab-ci-tcb.yml
  .gitlab-ci.yml
  crank/.gitlab-ci.yml
  debian-container/.gitlab-ci.yml
Due: none

use tokens to push to Docker Hub
  .gitlab-ci-scripts.yml
Due: none

gitlab-ci.yml: add dockerfile linter
  .gitlab-ci-scripts.yml
  .gitlab-ci.yml
  adc/.gitlab-ci.yml
  dbus/python/.gitlab-ci.yml
  dbus/tools/.gitlab-ci.yml
  dlr-gstreamer/.gitlab-ci.yml
  gpio/bash/.gitlab-ci.yml
  gpio/c/.gitlab-ci.yml
  gps/python/.gitlab-ci.yml
  grafana/.gitlab-ci.yml
  gstreamer/bash/simple-pipeline/.gitlab-ci.yml
  opencl/.gitlab-ci.yml
  opencv/.gitlab-ci.yml
  pwm/.gitlab-ci.yml
  python-qml/.gitlab-ci.yml
  sht31/flaskapp/.gitlab-ci.yml
  sht31/kiosk/.gitlab-ci.yml
  sht31/sht31-influxdb/.gitlab-ci.yml
  tflite/.gitlab-ci.yml
  weather/.gitlab-ci.yml
Due: adc-jobs, dbus-tools-jobs, dbus-python-jobs, gpio-bash-jobs, gpio-c-jobs, dlr-gstreamer-jobs, uart-gps-python-jobs, collectd-jobs, gstreamer-simple-pipeline-jobs, opencl-jobs, opencv-jobs, pwm-jobs, qt5-python-qml-jobs, uart-sht31-flask-app-jobs, uart-sht31-influxdb-jobs, uart-sht31-kiosk-jobs, tflite-jobs, weather-jobs

improve quality of Dockerfiles
  adc/Dockerfile
  dbus/python/Dockerfile
  dbus/tools/Dockerfile
  dlr-gstreamer/Dockerfile
  gpio/bash/Dockerfile
  gpio/c/Dockerfile
  gps/python/Dockerfile
  grafana/Dockerfile
  gstreamer/bash/simple-pipeline/Dockerfile
  opencl/Dockerfile
  opencv/Dockerfile
  pwm/Dockerfile
  python-qml/Dockerfile
  sht31/flaskapp/Dockerfile
  sht31/kiosk/Dockerfile
  sht31/sht31-influxdb/Dockerfile
  tflite/Dockerfile
  tflite/README.md
  weather/Dockerfile
Due: adc-jobs, dbus-tools-jobs, dbus-python-jobs, gpio-bash-jobs, gpio-c-jobs, dlr-gstreamer-jobs, uart-gps-python-jobs, collectd-jobs, gstreamer-simple-pipeline-jobs, opencl-jobs, opencv-jobs, pwm-jobs, qt5-python-qml-jobs, uart-sht31-flask-app-jobs, uart-sht31-influxdb-jobs, uart-sht31-kiosk-jobs, tflite-jobs, weather-jobs

gitlab-ci.yml: automatically tag the repository
  .gitlab-ci-scripts.yml
  adc/.gitlab-ci.yml
  dbus/python/.gitlab-ci.yml
  dbus/tools/.gitlab-ci.yml
  dlr-gstreamer/.gitlab-ci.yml
  gpio/bash/.gitlab-ci.yml
  gpio/c/.gitlab-ci.yml
  gps/python/.gitlab-ci.yml
  grafana/.gitlab-ci.yml
  gstreamer/bash/simple-pipeline/.gitlab-ci.yml
  opencl/.gitlab-ci.yml
  opencv/.gitlab-ci.yml
  pwm/.gitlab-ci.yml
  python-qml/.gitlab-ci.yml
  sht31/flaskapp/.gitlab-ci.yml
  sht31/kiosk/.gitlab-ci.yml
  sht31/sht31-influxdb/.gitlab-ci.yml
  tflite/.gitlab-ci.yml
  weather/.gitlab-ci.yml
Due: adc-jobs, dbus-tools-jobs, dbus-python-jobs, gpio-bash-jobs, gpio-c-jobs, dlr-gstreamer-jobs, uart-gps-python-jobs, collectd-jobs, gstreamer-simple-pipeline-jobs, opencl-jobs, opencv-jobs, pwm-jobs, qt5-python-qml-jobs, uart-sht31-flask-app-jobs, uart-sht31-influxdb-jobs, uart-sht31-kiosk-jobs, tflite-jobs, weather-jobs

ci: add md5sum to check credentials
  .gitlab-ci-tcb.yml
Due: none

gitlab-ci.yml: reintroduce container tags for kiosk-mode-browser
  .gitlab-ci-scripts.yml
Due: none

uno-platform: deprecate the demo
  uno-platform/DockerClone/README.md
Due: none

use chromium instead of kiosk-mode-browser
  .gitlab-ci-scripts.yml
  .gitlab-ci-tcb.yml
  debian-container/demonstration/docker-compose.arm64.yml
  debian-container/demonstration/docker-compose.armhf-nogpu.yml
  debian-container/demonstration/docker-compose.armhf.yml
  gps/dotnet/blazor/Dockerfile.kiosk-wait
  grafana/docker-compose.override.yml
  sht31/kiosk/.gitlab-ci.yml
  sht31/kiosk/Dockerfile
Due: collectd-jobs, uart-sht31-kiosk-jobs

bump the versions of base containers
  .gitlab-ci-scripts.yml
Due: none

enable gpu h/w accelartion for chromium containers
  debian-container/demonstration/docker-compose.arm64.yml
  debian-container/demonstration/docker-compose.armhf.yml
  gps/dotnet/blazor/appconfig_0/docker-compose.arm32v7.yml
  gps/dotnet/blazor/appconfig_0/docker-compose.arm64v8.yml
  grafana/docker-compose.override.yml
  sht31/docker-compose.yml
Due: collectd-jobs

grafana: use separate override files for 32/64-bit
  grafana/docker-compose.override.arm64.yml
  grafana/docker-compose.override.armhf.yml
Due: collectd-jobs

sht31: use separate compose files for 32/64-bit
  sht31/README.md
  sht31/docker-compose.arm64.yml
  sht31/docker-compose.armhf.yml
Due: none

Update Dockerfile - Removing the Entrypoint and adding the v4l-utils
  gstreamer/bash/simple-pipeline/Dockerfile
Due: gstreamer-simple-pipeline-jobs

Added tflite-rtsp sample. Created folder for tflite samples.
  .gitlab-ci.yml
  README.md
  tflite/tflite-basic/.gitlab-ci.yml
  tflite/tflite-basic/Dockerfile
  tflite/tflite-basic/README.md
  tflite/tflite-basic/docker-compose.yaml
  tflite/tflite-basic/image.jpg
  tflite/tflite-basic/main.py
  tflite/tflite-rtsp/.gitlab-ci.yml
  tflite/tflite-rtsp/Dockerfile
  tflite/tflite-rtsp/README.md
  tflite/tflite-rtsp/demos/object-detection/labelmap.txt
  tflite/tflite-rtsp/demos/object-detection/lite-model_ssd_mobilenet_v1_1_metadata_2.tflite
  tflite/tflite-rtsp/demos/object-detection/object-detection.py
  tflite/tflite-rtsp/recipes/build_variables.sh
  tflite/tflite-rtsp/recipes/imx-gpu-viv_6.4.3.p1.4-aarch64.sh
  tflite/tflite-rtsp/recipes/nn-imx_1.3.0.sh
  tflite/tflite-rtsp/recipes/python3-numpy_1.22.3.sh
  tflite/tflite-rtsp/recipes/tensorflow-lite-patch/0001-Findtim-vx.cmake-Fix-LIBDIR-for-multilib-environment.patch
  tflite/tflite-rtsp/recipes/tensorflow-lite-patch/tensorflow-lite.pc.in
  tflite/tflite-rtsp/recipes/tensorflow-lite-vx-delegate_2.8.0.sh
  tflite/tflite-rtsp/recipes/tensorflow-lite_2.8.0.sh
  tflite/tflite-rtsp/recipes/tensorflow-protobuf-patch/0001-Makefile.am-include-descriptor.cc-when-building-libp.patch
  tflite/tflite-rtsp/recipes/tensorflow-protobuf-patch/0001-examples-Makefile-respect-CXX-LDFLAGS-variables-fix-.patch
  tflite/tflite-rtsp/recipes/tensorflow-protobuf-patch/0001-protobuf-fix-configure-error.patch
  tflite/tflite-rtsp/recipes/tensorflow-protobuf-patch/run-ptest
  tflite/tflite-rtsp/recipes/tensorflow-protobuf_3.9.2.sh
  tflite/tflite-rtsp/recipes/tim-vx_1.1.39.sh
Due: none

readme: reorder list of samples alphabetically
  README.md
Due: none

opencl: add missing Vivante libraries
  opencl/Dockerfile
Due: opencl-jobs

opencl: use multi-stage build
  .gitlab-ci-scripts.yml
  opencl/.gitlab-ci.yml
  opencl/Dockerfile
Due: opencl-jobs

opencl: add clinfo app for debugging
  opencl/Dockerfile
Due: opencl-jobs

opencl: change the base image from wayland to debian
  opencl/Dockerfile
Due: opencl-jobs

opencl: use Debian base tag
  opencl/.gitlab-ci.yml
Due: opencl-jobs

opencl: add deploy step to the CI pipeline
  opencl/.gitlab-ci.yml
Due: opencl-jobs

Create Node.JS sample
  .gitlab-ci.yml
  README.md
  nodejs/.gitlab-ci.yml
  nodejs/Dockerfile
  nodejs/README.md
  nodejs/app.js
  nodejs/docker-compose.yml
  nodejs/package.json
Due: none

demonstration: fix startup error on GPU-less SoMs
  debian-container/demonstration/docker-compose.armhf-nogpu.yml
Due: none

weather: fix build due to changes in influxdb-cxx
  weather/Dockerfile
  weather/src/weather.cpp
Due: weather-jobs

ci: tcb: create /deploy directory
  .gitlab-ci-tcb.yml
  crank/README.md
Due: none

gitlabi-ci-scripts: update tags to Bookworm and use Artifactory Dockerhub cache
  .gitlab-ci-scripts.yml
Due: none

adc: update to Bookworm
  adc/.gitlab-ci.yml
  adc/Dockerfile
Due: adc-jobs

Path conditions:
  adc-jobs: any of: adc/*
  dbus-tools-jobs: any of: dbus/tools/*
  dbus-python-jobs: any of: dbus/python/*
  gpio-bash-jobs: any of: gpio/bash/*
  gpio-c-jobs: any of: gpio/c/*
  dlr-gstreamer-jobs: any of: dlr-gstreamer/*
  uart-gps-python-jobs: any of: gps/python/*
  collectd-jobs: any of: grafana/*
  gstreamer-simple-pipeline-jobs: any of: gstreamer/bash/simple-pipeline/*
  opencl-jobs: any of: opencl/*
  opencv-jobs: any of: opencv/*
  pwm-jobs: any of: pwm/*
  qt5-python-qml-jobs: any of: python-qml/*
  uart-sht31-flask-app-jobs: any of: sht31/flaskapp/*
  uart-sht31-influxdb-jobs: any of: sht31/sht31-influxdb/*
  uart-sht31-kiosk-jobs: any of: sht31/kiosk/*
  tflite-jobs: any of: tflite/*
  weather-jobs: any of: weather/*
